<aside class="toc">
    <ul>
        <li>
            <a href="inugami/inugami_api#functionals_interfaces">Functionals interfaces</a>
            <ul>
                <li>
                    <a href="inugami/inugami_api#functionals">Functionals</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#utility_interfaces">Utility intefaces</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#generic_interface">Generic interface</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#concurrency_intefaces">Concurrency intefaces</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#inugami_event_processing">Inugami event processing</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#inugami_monitoring">Inugami monitoring</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="inugami/inugami_api#loggers">Loggers</a>
            <ul>
                <li></li>
            </ul>
        </li>

        <li>
            <a href="inugami/inugami_api#warning_management">Exception management</a>
            <ul>
                <li></li>
            </ul>
        </li>

        <li>
            <a href="inugami/inugami_api#warning_management">Warning management</a>
            <ul>
                <li></li>
            </ul>
        </li>

        <li>
            <a href="inugami/inugami_api#spi">SPI</a>
            <ul>
                <li></li>
            </ul>
        </li>

        <li>
            <a href="inugami/inugami_api#tools">Tools</a>
            <ul>
                <li></li>
            </ul>
        </li>
    </ul>
</aside>