<aside class="toc">
    <ul>
        <li>
            <a href="inugami/inugami_api#functionals_interfaces">Functionals interfaces</a>
            <ul>
                <li>
                    <a href="inugami/inugami_api#functionals">Functionals</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#utility_interfaces">Utility intefaces</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#generic_interface">Generic interface</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#concurrency_intefaces">Concurrency intefaces</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#inugami_event_processing">Inugami event processing</a>
                </li>
                <li>
                    <a href="inugami/inugami_api#inugami_monitoring">Inugami monitoring</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="inugami/inugami_api#loggers">Loggers</a>
        </li>

        <li>
            <a href="inugami/inugami_api#mdcService">MdcService</a>
        </li>

        <li>
            <a href="inugami/inugami_api#exception_management">Exception management</a>
            <ul>
                <li> <a href="inugami/inugami_api#generic_inugami_exception_type">Generic Inugami exception types</a></li>
                <li> <a href="inugami/inugami_api#exceptions">Exceptions</a></li>
                <li> <a href="inugami/inugami_api#errorCode">ErrorCode</a></li>
                <li> <a href="inugami/inugami_api#warning">Warning</a></li>
            </ul>
        </li>

        <li>
            <a href="inugami/inugami_api#spi">SPI</a>
            <ul>
                <li> <a href="inugami/inugami_api#load_spi">Load SPI implementation</a></li>
                <li> <a href="inugami/inugami_api#load_spi">Load SPI by priority</a></li>
            </ul>
        </li>

        <li>
            <a href="inugami/inugami_api#tools">Tools</a>
            <ul>
                <li> <a href="inugami/inugami_api#annotation_tools">AnnotationTools</a></li>
                <li> <a href="inugami/inugami_api#console_colors">ConsoleColors</a></li>
                <li> <a href="inugami/inugami_api#hex">Hex</a></li>
                <li> <a href="inugami/inugami_api#string_tools">StringTools</a></li>
                <li> <a href="inugami/inugami_api#json_builder">JsonBuilder</a></li>
                <li> <a href="inugami/inugami_api#tuple">{{tupleTitle}}</a></li>
                <li> <a href="inugami/inugami_api#chrono">Chrono</a></li>
                <li> <a href="inugami/inugami_api#blocking_queue">BlockingQueue</a></li>
            </ul>
        </li>
    </ul>
</aside>
