<h1>Inugami.io</h1>

<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: INFORMATION
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
<section>
    <header>
        <h2>Inugami projects</h2>
    </header>

    <div class="content">


    </div>
</section>

<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: Annoncements
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
<section>
    <header>
        <h2>Annoncements</h2>
    </header>

    <div class="content">
        <annoncement title="Inugami 2.1.0" date="2023-01-10">
            <ul>
                <li class="feature">HTTP connector refactoring with request as build pattern</li>
                <li class="feature">Add category on ErrorCode</li>
                <li class="feature">Add warning context</li>
                <li class="feature">Improvement Spring REST method interception</li>
            </ul>
            
        </annoncement>
    </div>
</section>
