<h1>Inugami.io</h1>


<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: Annoncements
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
<section>
    <header>
        <h2>Annoncements</h2>
    </header>


    <div *ngFor="let annoncement of annoncements">
        <annoncement [title]="getTitle(annoncement)" [date]="annoncement.date" [application]="annoncement.application">
            <div *ngIf="annoncement.description" [innerHTML]="annoncement.description">
            </div>
            <ul>
                <li class="feature" *ngIf="annoncement.features"><span class="annoncement-feature">Features:</span>
                    <ul>
                        <li *ngFor="let item of annoncement.features">
                            <a [href]="item.link" target="_blank">{{item.title}}</a>
                            <div *ngIf="item.examples">
                                <div *ngFor="let example of item.examples">
                                    <p *ngIf="example.description" [innerHTML]="example.description"></p>
                                    <pre *ngIf="example.value">
                                        <code [languages]="[getExampleType(example)]" [highlight]="example.value">
                                        </code>
                                    </pre>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="fix" *ngIf="annoncement.fix"><span class="annoncement-fix">Issues fixed:</span>
                    <ul>
                        <li *ngFor="let item of annoncement.fix">
                            <a [href]="item.link" target="_blank">{{item.title}}</a>
                            <div *ngIf="item.examples">
                                <div *ngFor="let example of item.examples">
                                    <p *ngIf="example.description">{{example.description}}</p>
                                    <pre *ngIf="example.value">
                                        <code [languages]="[getExampleType(example)]" [highlight]="example.value">
                                        </code>
                                    </pre>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </annoncement>

    </div>



</section>
