<div class="container-fluid">
    <div class="row">
        <div class="col-2  d-sm-none d-md-block">
            <inugami-aside-menu></inugami-aside-menu>
        </div>

        <div class="col-12 col-md-8">
            <section class="page-section documentation">
                <header>
                    <h1>inugami_commons_spring</h1>
                    <hr/>
            
                    <div class="d-block d-md-none">
                        <inugami-commons-spring-toc></inugami-commons-spring-toc>
                        <hr/>
                    </div>
                </header>
            
             
                
                <!--****************************************************************************************
                ** INTRO
                ****************************************************************************************-->
                <article>
                    <div class="content">
                        <pre>
                            <code [languages]="['xml']" [highlight]="sourceCode['inugami_commons_spring']">                      
                            </code>
                        </pre>
                       
                    </div>
                </article>
            
                <!--****************************************************************************************
                ** 
                ****************************************************************************************-->
                <article>
                    <header>
                        <h2></h2>
                    </header>
                    <div class="content">
                    </div>
                </article>
            </section>  
        </div>

        <div class="col-2">
            <div class="d-md-none d-lg-block">
                <inugami-commons-spring-toc></inugami-commons-spring-toc>
            </div>
        </div>
        <div class="d-block d-md-none">
            <hr/>
            <inugami-commons-spring-toc></inugami-commons-spring-toc>
        </div>
    </div>
</div>






<!--####################################################################################
## TOOLS
####################################################################################-->

<div class="clear"></div>