<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand inugami-icon" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a  routerLink="inugami"  routerLinkActive="active">
                        Inugami
                    </a>
                    <ul class="sublink">
                        <li><span>Documentation</span>
                            <ul>
                                <li>
                                    <a routerLink="inugami/inugami_api">inugami_api</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a  routerLink="inugami-project-analysis-maven-plugin" routerLinkActive="active">
                        inugami-project-analysis-maven-plugin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--
<nav class="navbar navbar-expand-lg">
    <a class="" routerLink="" >
        Home
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            
        </li>
        <li class="nav-item">
            
        </li>
      </ul>

    </div>
  </nav>
-->
<div class="page-content">
    <router-outlet></router-outlet>
</div>

