<aside class="toc">
    <ul>
        <li>
            <a href="inugami-project-analysis-maven-plugin#introduction">Introduction</a>
        </li>

        <li>
            <a href="inugami-project-analysis-maven-plugin#quick_start">Quick start</a>
        </li>

        <li>
            <a href="inugami-project-analysis-maven-plugin#neo4j_structure">Neo4j data structure</a>
        </li>

        <li>
            <a href="inugami-project-analysis-maven-plugin#retrieve_information">Retrieve information</a>
            <ul>
                <li><a href="inugami-project-analysis-maven-plugin#restServices">REST Services</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#queryDisplay">Query display</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#properties">Properties</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#queueInfo">Queue information</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#errorDisplay">Error display</a></li>

                <li><a href="inugami-project-analysis-maven-plugin#specifics_queries">Specifics queries</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#importData">importData</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#deployment_management">Deployment management</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#encodePassword">encodePassword</a></li>
            </ul>
        </li>


        <li>
            <a href="inugami-project-analysis-maven-plugin#analyzers">Analyzers</a>
            <ul>
                <li><a href="inugami-project-analysis-maven-plugin#feign_clients">Feign clients</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#springboot_restcontrollers">SpringBoot RestControllers</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#spring_properties">Spring properties</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#activemq">ActiveMQ</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#error_code_analyzer">Error code</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#flyway">Flyway</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#git_scm">Git SCM</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#issue_management">Issue Management</a>
                    <ul>
                        <li><a href="inugami-project-analysis-maven-plugin#issue_gitlab">For GitLab</a></li>
                        <li><a href="inugami-project-analysis-maven-plugin#issue_github">For GitHub</a></li>
                        <li><a href="inugami-project-analysis-maven-plugin#issue_jira">For Jira</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="inugami-project-analysis-maven-plugin#release_note">ReleaseNote</a>
        </li>


        <li>
            <a href="inugami-project-analysis-maven-plugin#springboot_integration">SpringBoot integration</a>
            <ul>
                <li><a href="inugami-project-analysis-maven-plugin#release_note_ui">ReleaseNote UI</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#update_ban_dependencies">Update & ban dependencies</a></li>
            </ul>
        </li>


        <li>
            <a href="inugami-project-analysis-maven-plugin#other_goals">Others goals</a>
            <ul>
                <li><a href="inugami-project-analysis-maven-plugin#other_mkdirs">mkdirs</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#other_delete">delete</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#other_loadProperties">Load properties</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#other_writeFile">writeFile</a></li>
                <li><a href="inugami-project-analysis-maven-plugin#other_copy">copy</a>
                    <ul>
                        <li><a href="inugami-project-analysis-maven-plugin#other_copy_file">File</a></li> 
                        <li><a href="inugami-project-analysis-maven-plugin#other_copy_folder">Folder</a></li>
                        <li><a href="inugami-project-analysis-maven-plugin#other_copy_maven_dependencies">Maven dependencies</a></li>
                    </ul>
                </li>
                <li><a href="inugami-project-analysis-maven-plugin#other_unpack">unpack</a></li>
            </ul>
        </li>
    </ul>
</aside>
