<aside class="toc">
    <ul>
        <li>
            <a href="inugami-project-analysis-maven-plugin#introduction">Introduction</a>
        </li>

        <li>
            <a href="inugami-project-analysis-maven-plugin#quick_start">Quick start</a>
        </li>

        <li>
            <a href="inugami-project-analysis-maven-plugin#neo4j_structure">Neo4j data structure</a>
        </li>


        <li>
            <a href="inugami-project-analysis-maven-plugin#springboot_integration">SpringBoot integration</a>
        </li>


        <li>
            <a href="inugami-project-analysis-maven-plugin#other_goals">Others goals</a>
        </li>
    </ul>
</aside>
