/* 
https://coolors.co/palette/001524-15616d-ffecd1-ff7d00-78290f
*/
.clear{
    clear: both;
}

menu.main-menu a.inugami-icon{
    
    display: inline-block;
    height: 55px;
    width: 64px;
    position: relative;
    top: -0.5em;
}

menu.main-menu a.active.inugami-icon{
    color: transparent; 
}


menu{
    a{
        text-decoration: none;
        color:#000000;
    }
    ul{
        margin: 0;
        padding: 0;   
    }
    li{
        margin: 0;
        padding: 0;
    }
}
aside{
    a{
        text-decoration: none;
        color:#000000;
    }
    menu{
        margin: 0.5em;
        padding: 0;
    }
    ul{
        margin-left: 1em;
        margin-bottom: 1em;
        padding: 0;
        
    }
    li{
        margin: 0;
        padding: 0;
    }
}


nav.navbar{
    background-color: #001524;

    a.inugami-icon{
    }

    a{
        color: #a0a0a0;
        text-decoration: none;
        font-weight: bold;
        &.active{
            color: #ffffff;
        }
    }   

    li.nav-item{
        margin-left: 1em;
    }

    .navbar-toggler{
        color: #a0a0a0;
    }

    .navbar-toggler-icon{
        background-color:#a0a0a0;
    }

    .sublink{
        color: #a0a0a0;
        display: none;
    }
    .navbar-collapse.collapse.show .sublink{
        display: block;
    }


}

menu.main-menu{
    height: 4em;
    margin-top: 0;

    font-size: 120%;
    padding-top: 1.15em;
    padding-bottom: 1.15em;
    -webkit-box-shadow: 0px 0px 7px 0px #000000; 
    box-shadow: 0px 0px 7px 0px #000000;
    ul{
        float: left;
    }
    ul.right-menu{
        float: right;
    }

    li{
        display: inline;
        margin-right: 1em;
    }
   
}

.page-content{
    margin-left: 1em;
    margin-right: 1em;
}

h1{
    margin-bottom: 2em;
}

h2{
    margin-bottom: 1em;
}


h3{
    margin-top:  1em;
    border-bottom: 1px solid;
}


h4{
    margin-top: 1em;
}

h5{
    margin-top: 1em;
}

a.anchor{
    text-decoration: none;
    color:#000000;
}



pre code.hljs {
    background-color: #f9f9f9;
    -webkit-box-shadow:0px 0px 5px 0px #d5d1d1;
    box-shadow:0px 0px 5px 0px #d5d1d1;
}

section.documentation{
    article{
        margin-top: 2em;
        header {
            a{
                color: #15616D;
                text-decoration: none;
                h2{
                    border-bottom: 1px solid #15616D;
                }
            }            
        }
    }
}


.slider-div{
    position: fixed;
    top: 6em;
}

dd{
    margin-bottom: 1em;
}