<aside class="toc">
    <ul>
        <li>
            <a href="inugami/inugami_commons_test#UnitTestHelper">UnitTestHelper</a>
            <ul>
                <li>
                    <a  href="inugami/inugami_commons_test#load_read">Load and read file</a>
                    <ul>
                        <li>
                            <a  href="inugami/inugami_commons_test#readFileRelative">readFileRelative</a>
                        </li>
                        <li>
                            <a  href="inugami/inugami_commons_test#readFileIntegration">readFileIntegration</a>
                        </li>
                        <li>
                            <a  href="inugami/inugami_commons_test#readFile">readFile</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a  href="inugami/inugami_commons_test#buildpath">buildpath</a>
                </li>
                <li>
                    <a  href="inugami/inugami_commons_test#loadRelativeStub">Load stub</a>
                </li>
                <li>
                    <a  href="inugami/convertToJsonMain#convertToJsonMain">Convert to JSON</a>
                </li>
                <li>
                    <a  href="inugami/inugami_commons_test#asserts">Asserts</a>
                    <ul>        
                        <li>
                            <a  href="inugami/inugami_commons_test#assertText">assertText</a>
                        </li>
                        <li>
                            <a  href="inugami/inugami_commons_test#throwException">throwException</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>


        <li>
            <a   href="inugami/inugami_commons_test#LogTestAppender">LogTestAppender</a>
        </li>

        <li>
            <a   href="inugami/inugami_commons_test#mutation">Mutation testing</a>
        </li>
    </ul>
</aside>
